.ProductCustom{
	@include flex();
	flex-flow:initial;
}
.ProductCustom--left{
	@include flex();
	flex-flow:initial;
	max-width:180px;
	width:100%;
	transition: all .5s ease;
	min-height:600px;
}
.ProductCustom--left.active{
	max-width:525px;
}
.ProductCustom__title{
	width:60px;
	transition:all .5s ease;
	cursor:pointer;
}
.ProductCustom__title p{
	font-family:'Brandon-Bold';
	font-size:1.875rem;
	margin-top:55px;
	text-align:center;
}
.ProductCustom__step.active .ProductCustom__title{
	visibility: none;
	opacity:0;
}
.ProductCustom__step--1{
	background-color:#F8F8F8;
}
.ProductCustom__step--2{
	background-color:#F1F1F1;
}
.ProductCustom__step--3{
	background-color:#E8E8E8;
}
.ProductCustom__step{
	display:flex;
	transition:all .5s ease;
	width:60px;
}
.ProductCustom__title:hover{
	opacity:.5;
}
.ProductCustom__color{
	width:25px;
	height:25px;
	background-color:black;
	margin-bottom:10px;
}
.ProductCustom__next{
	margin-top:66px;
	height:35px;
	line-height:35px;
}
.ProductCustom__next button{
	background-color:transparent;
	text-transform:uppercase;
	border-radius:0;
	color:black;
	opacity:.15;
	border:1px solid black;
	max-width:180px;
	width:100%;
	font-family:'Brandon-Bold';
	font-size:.8125rem;
	height:35px;
	line-height:32px;
	transition: all .5s ease;
}
.ProductCustom__next.active button{
	background-color:black;
	border-radius:0;
	color:white;
	opacity:1;
	border:1px solid black;
	max-width:180px;
	width:100%;
	font-family:'Brandon-Bold';
	font-size:.8125rem;
	height:35px;
	line-height:32px;
}
.ProductCustom__next--2{
	display:flex;
	padding-right:50px;
}
.ProductCustom__next--2 .ProductCustom__prev{
	max-width:93px;
	width:100%;
	border:1px solid black;
	font-size:.8125rem;
	font-family:'Brandon-Bold';
	text-transform:uppercase;
	opacity:1;
}
.ProductCustom__next--2 .ProductCustom__nexted{
	border:1px solid black;
	font-size:.8125rem;
	font-family:'Brandon-Bold';
	text-transform:uppercase;
	opacity:.15;
	margin-top:0;
	margin-left:13px;
	max-width:100%;
	width:100%;
}
.ProductCustom__next--2 .ProductCustom__nexted.active{
	opacity:1;
	background-color:black;
	color:white;
}
.ProductCustom--options{
	opacity:0;
	visibility: hidden;
	width:0;
	overflow:hidden;
	transition: all .5s ease;
}
.ProductCustom__options{
	padding-right:50px;
}
.ProductCustom__step--3.active,
.ProductCustom__step--2.active,
.ProductCustom__step--1.active{
	width:100%;
}
.ProductCustom__step--3.active .ProductCustom--options,
.ProductCustom__step--2.active .ProductCustom--options,
.ProductCustom__step--1.active .ProductCustom--options{
	opacity:1;
	visibility:visible;
	width:100%;

}
.ProductCustom__swatch--color{
	width:30px;
	height:30px;
	background-color:blue;
	margin-bottom:5px;
	cursor:pointer;
}

.ProductCustom__option--swatches{
	@include flex();
	flex-flow:row wrap;
}
.ProductCustom__swatch--container{
	width:20%;
}
.ProductCustom--right{
	width:100%;
	position:relative;
}
.ProductCustom__image-background img{
	width:100%;
}
.ProductCustom__text-container{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	text-align: center;
}
.ProductCustom__text-container h2{
	margin-bottom:0;
}
.ProductCustom__text-container h3{
	margin-bottom:0;
}
.ProductCustom__text-container button{
	margin:0 auto;
}

.ProductCustom__right__step--1{
	opacity:0;
	height:0;
	overflow:hidden;
	transition: all 1s ease;
}
.ProductCustom__right__step--1.active{
	opacity:1;
	height:initial;
}
.ProductCustom__right_-step--1.active .ProductCustom__text-container{
	display:none;
}
.ProductCustom__right__step--2{
	opacity:0;
	visibility:hidden;
	//height:0;
	transition:all .5s;
	display:none;
}
.ProductCustom__right__step--2.active{
	opacity:1;
	visibility:visible;
	height:100%;
	display:flex;

}
.ProductCustom__title-container h2{
	margin-top:55px;
	margin-bottom:0;
	text-transform:uppercase;
	font-family:'Brandon-Bold';
	font-size:1.875rem;
}
.ProductCustom__title-container p{
	font-family:'Brandon-Reg';
	font-size:.9375rem;
	text-transform:uppercase;
	margin-bottom:45px;
}
.ProductCustom__label p{
	font-family:'Brandon-Bold';
	font-size:.75rem;
	text-transform:uppercase;
	border-bottom:1px solid black;
	padding-bottom:4px;
	margin-bottom:20px;	
}


.ProductCustom__right__step--2 .ProductCustom__image-sandal{
	display:none;
	background-color:white;
}

.ProductCustom__right__step--2.active .ProductCustom__image-sandal{
	display:flex;
  align-items: center;
	width:100%;
}
.ProductCustom__right__step--2.active .ProductCustom__image-sandal img{
	margin:0 auto;
}
.ProductCustom__right__step--2 .ProductCustom__text-container--right{
	position:absolute;
	right:-500px;
	transition:all .5s ease; 
	overflow:hidden;
	width:0;
	background-color:#F1F1F1;
}
.ProductCustom__right__step--2.active .ProductCustom__text-container--right{
	position:relative;
	right:0;
	max-width:300px;
	width:100%;
	transition:all .5s;
}
.ProductCustom__right__step--2.active .ProductCustom__text-container--right.active{
	max-width:500px;
}
.ProductCustom__text--right{
	padding-top:55px;
	padding-left:45px;
	padding-right:45px;
}
.ProductCustom__text--right h1{
	font-family:'Brandon-Reg';
	font-size:1.875rem;
	margin-bottom:20px;
	line-height:34px;
	text-transform:uppercase;
}
.ProductCustom__text--right .price{
	font-family:'Brandon-Bold';
	font-size:1.25rem;
	margin-bottom:40px;
}
.ProductCustom__text--right .ProductCustom__option--line{
	font-family:'Brandon-Bold';
	font-size:.75rem;
	border-bottom:1px solid black;
	text-transform:uppercase;
}

.ProductCustom__option--swatches .hidden{
	display: flex;
	margin-bottom:15px;
	width:100%;
}
.ProductCustom__option--swatches .hidden .select-wrapper{
	width:49%;
	margin-right:1%;
}
.ProductCustom__option--swatches .hidden select{
	border:1px solid #9B9B9B;
	width:100%;
	font-size:.75rem;
	font-family:'Brandon-Reg';
	height:30px;
  border-radius: 0;
	line-height:30px;
}
.ProductCustom__option--swatches .hidden .select-wrapper:after{
	content:'';
}
.ProductCustom__option--swatches .hidden .quantity-selector{
	width:49%;
	margin-left:1%;
	height:30px;
	line-height:30px;
}
.ProductCustom__add-more{
	font-family:'Brandon-Bold';
	font-size:.75rem;
	text-align:center;
	text-transform:uppercase;
	cursor:pointer;
}
.ProductCustom__option--size .ProductCustom__options{
	padding-right:0;
}
.ProductCustom__size--swatches .productSelect--custom--2{
	display:flex;
  margin-bottom: 15px;
  width: 100%;
}
.ProductCustom__size--swatches .productSelect--custom--2 select{
  border: 1px solid #9B9B9B;
  width: 49%;
  font-size: .75rem;
  font-family: 'Brandon-Reg';
  height: 30px;
  border-radius: 0;
  line-height: 30px;	
}
.ProductCustom__size--swatches .productSelect--custom--2 select:nth-child(even){
	margin-left:1%;
}
.ProductCustom__size--swatches .productSelect--custom--2 select:nth-child(odd){
	margin-right:1%;
}
.ProductCustom__add{
	opacity:0;
	visibility: hidden;
	transition: all .5s;
}
.ProductCustom__add.show{
	opacity:1;
	visibility:visible;
	border-top:1px solid black;
	background-color:black;
	width:100%;
  padding-top: 17px;
  background-color: transparent;
}
.ProductCustom__add button{
	color:white;
	font-family:'Brandon-Bold';
	text-transform:uppercase;
	height:36px;
	max-width:260px;
	line-height:32px;
	width:100%;
	font-size:1.125rem;
}
.ProductCustom--mobile{
	opacity:0;
	visibility:hidden;
	transition:all .5s;
	height:0;
}
.ProductCustom--mobile.active{
	opacity:1;
	visibility:visible;
	height:100%;
}
.ProductCustom--mobile{
	display:none;
}
.ProductCustom__text--details p{
	display:none;
}
.ProductCustom__close{
	display:none;
}
.ProductCustom--top{
	display:none;
}
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #000000;
  background: -moz-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
  background: -webkit-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
  background: -o-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
  background: -ms-linear-gradient(left, #000000 10%, rgba(0,0,0, 0) 42%);
  background: linear-gradient(to right, #000000 10%, rgba(0,0,0, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #000000;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fdfffe;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



@include s-m(){
	.ProductCustom{
		flex-flow:row wrap;
	}
	.ProductCustom--top{
		background-color:#F4F4F4;
		width:100%;
		justify-content: space-between;
		padding:10px;
	}
	.ProductCustom--top.show{
		display:flex;
	}
	.ProductCustom--top h1{
		font-size:.75rem;
		text-transform:uppercase;
		margin-bottom:0;
		font-family:'Brandon-Reg';
	}
	.ProductCustom--top p{
		margin-bottom:0;
		font-size:.75rem;
		text-transform:uppercase;
		margin-bottom:0;
		font-family:'Brandon-Bold';
	}
	.ProductCustom--mobile.active{
		display:block;
	}
	.ProductCustom--right{
		margin:10px 0;
	}
	.ProductCustom--left{
		display:none;
	}
	.ProductCustom__right__step--2.active .ProductCustom__image-sandal img{
		margin-left:25px;
	}
	.ProductCustom__text-container{
		position:relative;
		top:initial;
		left:initial;
		transform:initial;
	}
	.ProductCustom__right__step--2.active .ProductCustom__text-container--right{
		position:relative;
		max-width:50px;
		height:100%;
		background-color:transparent;
		border-left:1px solid #EBEBEB;
	}
	.ProductCustom__option--size{
		display:none;
	}
	.ProductCustom__text--right{
		padding:0;
		height:100%;
	}
	.ProductCustom__swatch--color{
		margin:0 auto;
	}
	.ProductCustom__text-container--right p,
	.ProductCustom__text-container--right h1{
		display:none;
	}
	.ProductCustom--mobile{
		width:100%;
		display:block;
	}
	.ProductCustom__size .hidden {
		display:flex;
	}
	.ProductCustom__size .hidden .select-wrapper{
		width:49%;
		margin-right:1%;
	}
	.ProductCustom__size .hidden select{
		border:1px solid #9B9B9B;
		width:100%;
		font-size:.75rem;
		font-family:'Brandon-Reg';
		height:30px;
	  border-radius: 0;
		line-height:30px;
	}
	.ProductCustom__size .hidden .select-wrapper:after{
		content:'';
	}
	.ProductCustom__size .hidden .quantity-selector{
		width:49%;
		margin-left:1%;
		height:30px;
		line-height:30px;
	}
	.ProductCustom__size--container{
		padding:0 15px;
	}
	.ProductCustom__step-container{
		background-color:#F4F4F4;
		display:flex;
		justify-content:space-between;
		font-family:'Brandon-Reg';
		text-transform:uppercase;
		text-align: center;
		margin-bottom:20px;
	}
	.ProductCustom__step--mobile{
		padding:8px 0;
		display:none;
	}
	.ProductCustom__step--mobile.active{
		display:block;
	}
	.ProductCustom__step-container h3{
		font-size:.9375rem;
		margin-bottom:0;
	}
	.ProductCustom__step-container p{
		margin-bottom:0;
		font-size:.625rem;
	}
	.ProductCustom__step-container .ProductCustom__forward,
	.ProductCustom__step-container .ProductCustom__back{
		width:100%;
		max-width:50px;
		display:flex;
		align-items:center;
		justify-content:center;
		padding:8px 0;
    opacity: 0;
    transition: all .5s;
    line-height: 24px;
    border: 0;
    color: black;
    height: auto;
    color: black;
		transition:all .5s;
		border-radius:0;
		margin-bottom:0;
	}
	.ProductCustom__forward.show,
	.ProductCustom__back.show{
		opacity:1;
		background-color:#E9E9E9;
	}

	.ProductCustom__forward:disabled{
		opacity:.5;
	}
	.ProductCustom__forward:hover{
		background-color:intiial;
		color:initial;
	}
	.ProductCustom__add--mobile{
		font-family:'Brandon-Bold';
		font-size:.75rem;
		text-align:center;
		text-transform:uppercase;
		cursor:pointer;		
    padding: 10px 15px;
    margin-top: 50px;
    background-color:#E2E2E2;
	}
	.ProductCustom__add--mobile button{
		color:white;
		font-family:'Brandon-Bold';
		text-transform:uppercase;
		height:36px;
		max-width:260px;
		line-height:32px;
		width:100%;
		font-size:1.125rem;
	}
	.ProductCustom__text-container--right .ProductCustom__swatch--color{
		margin:initial;
		margin-left:10px;
		margin-right:10px;
	}
	.ProductCustom__right__step--2.active .ProductCustom__text-container--right.expand{
		max-width:500px;
		position:relative;
	}
	.ProductCustom__text-container--right.expand .ProductCustom__text--container{
		display:flex;
	}
	.ProductCustom__text-container--right.expand .ProductCustom__text--container .ProductCustom__text--details p{
		font-family:'Brandon-Reg';
		display:block;
		margin-bottom:0;
		font-size:.5625rem;
	}
	.ProductCustom__text-container--right.expand .ProductCustom__text--details--top{
		border-bottom:1px solid black;
	}
	.ProductCustom__option--color{
		padding-top:40px;
	}
	.ProductCustom__close{
		display:block;
	}
	.ProductCustom__close span{
		opacity:0;
		visibility:hidden;
		transition:all .5s ease;
		position:absolute;
		right:0;
		top:5px;
    width: 27px;
	}
	.ProductCustom__text-container--right.expand .ProductCustom__close span{
		opacity:1;
		visibility:visible;
	}
}