  <div class="Product__details"></div>
  <div class="Product__size-chart">
    <h2 class="Product__size-chart-title">Size Chart</h2>
    <div class="Product__size-chart-container">
      <div class="Product__size-chart-bar">
        <div class="Product__size-chart-middle"></div>
      </div>

      <div class="Product__size-chart-text">
        <p>runs small</p>
        <p>True to size</p>
        <p>runs big</p>
      </div>
    </div>
  </div>